[submodule "server"]
	path = server
	url = https://github.com/2026-yarr-robotics/server.git
[submodule "ros2-cup-stack"]
	path = ros2-cup-stack
	url = https://github.com/2026-yarr-robotics/ros2-cup-stack.git
[submodule "fallen-cup-recovery"]
	path = fallen-cup-recovery
	url = https://github.com/2026-yarr-robotics/fallen-cup-recovery.git
	branch = released
[submodule "frontend"]
	path = frontend
	url = https://github.com/2026-yarr-robotics/frontend.git
[submodule "ros2-depth-point-cloude"]
	path = ros2-depth-point-cloude
	url = https://github.com/2026-yarr-robotics/ros2-depth-point-cloude.git
[submodule "vision-node"]
	path = vision-node
	url = https://github.com/2026-yarr-robotics/vision-node.git
[submodule "ros2-recode-sequence"]
	path = ros2-recode-sequence
	url = https://github.com/2026-yarr-robotics/ros2-recode-sequence.git
[submodule "tools/ros2-skill-manager"]
	path = tools/ros2-skill-manager
	url = https://github.com/2026-yarr-robotics/ros2-skill-manager.git
